.Layout {
    background-color: var(--background);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    font-family: 'Baloo 2', cursive;
}

.LayoutContainer {
    max-width: 1080px;
}

.LayoutHeader {
    font-size: 100px;
    text-align: center;
}

.LayoutContent {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--title);
}